// SUVA Design System Spacings
// Based on: https://www.figma.com/design/CRkuSruvIjOColXDCEoSAg/Die-Quelle-2.0?node-id=12406-92369

$sux-spacing-002: 2px;
$sux-spacing-004: 4px;
$sux-spacing-008: 8px;
$sux-spacing-016: 16px;
$sux-spacing-024: 24px;
$sux-spacing-032: 32px;
$sux-spacing-040: 40px;
$sux-spacing-048: 48px;
$sux-spacing-056: 56px;
$sux-spacing-064: 64px;
$sux-spacing-072: 72px;
$sux-spacing-080: 80px;
$sux-spacing-088: 88px;
$sux-spacing-096: 96px;
$sux-spacing-100: 100px;
$sux-spacing-120: 120px;
